* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.7; }

.page-container {
  width: 100vw;
  height: 100vh; }

.contact-container {
  background-color: #655c56;
  color: #effcef;
  padding: 5% 15%;
  text-align: center; }
  .contact-container .info {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10%;
    margin-top: 1%; }
  .contact-container a {
    font-size: 16px;
    color: inherit;
    text-decoration: none; }
    .contact-container a:hover {
      color: #94d3ac; }
  .contact-container hr {
    margin: 2vh 25vw;
    border: 2px solid #effcef; }

@media only screen and (max-width: 720px) {
  .contact-container {
    padding: 5vh 15vw 10vh 15vw; } }
