* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.7; }

.icon-link {
  color: #effcef; }
  .icon-link a {
    font-size: 1em;
    color: inherit;
    text-decoration: none; }
    .icon-link a:hover {
      color: #94d3ac; }

.padding-small {
  padding: 5vh 0vw;
  background-color: #effcef; }

.padding-large {
  padding: 15vh 0vw;
  background-color: #effcef; }

hr {
  margin: 5vh 15vw;
  border: 2px solid #655c56; }

a.button1 {
  color: #effcef;
  background-color: #94d3ac;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer !important;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.15em solid #94d3ac;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s; }
  a.button1:hover {
    color: #94d3ac;
    background-color: transparent; }

.contact-container {
  background-color: #655c56;
  color: #effcef;
  padding: 5% 15%;
  text-align: center; }
  @media (max-width: 768px) {
    .contact-container {
      padding: 5vh 15vw 10vh 15vw; } }
  .contact-container .info {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10%;
    margin-top: 1%; }
  .contact-container a {
    font-size: 16px;
    color: inherit;
    text-decoration: none; }
    .contact-container a:hover {
      color: #94d3ac; }
  .contact-container hr {
    margin: 2vh 25vw;
    border: 2px solid #effcef; }
