* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.7; }

.icon-link {
  color: #effcef; }
  .icon-link a {
    font-size: 1em;
    color: inherit;
    text-decoration: none; }
    .icon-link a:hover {
      color: #94d3ac; }

.padding-small {
  padding: 5vh 0vw;
  background-color: #effcef; }

.padding-large {
  padding: 15vh 0vw;
  background-color: #effcef; }

hr {
  margin: 5vh 15vw;
  border: 2px solid #655c56; }

a.button1 {
  color: #effcef;
  background-color: #94d3ac;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer !important;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.15em solid #94d3ac;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s; }
  a.button1:hover {
    color: #94d3ac;
    background-color: transparent; }

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 10vh;
  width: 100%;
  min-height: 96px;
  top: 0; }
  .navbar .logo {
    height: 65%;
    width: auto;
    justify-self: start;
    vertical-align: center;
    margin-left: 7vw;
    cursor: pointer; }
    .navbar .logo img {
      height: 100%; }
  .navbar .nav-links-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
    margin: 0 auto;
    width: 100%; }
    .navbar .nav-links-container .nav-item {
      display: inline-block;
      position: relative; }
      .navbar .nav-links-container .nav-item a,
      .navbar .nav-links-container .nav-item span {
        display: inline;
        position: relative;
        font-size: 1.15em;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.3s ease-out;
        opacity: 95%;
        /** Underline Animation */ }
        .navbar .nav-links-container .nav-item a:after,
        .navbar .nav-links-container .nav-item span:after {
          display: block;
          content: "";
          border-bottom: solid 3px #94d3ac;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out; }
        .navbar .nav-links-container .nav-item a:hover:after,
        .navbar .nav-links-container .nav-item span:hover:after {
          transform: scaleX(1); }
      .navbar .nav-links-container .nav-item .drop {
        overflow: hidden;
        list-style: none;
        position: absolute;
        text-align: left;
        width: 200%;
        left: 0;
        top: 48px; }
        .navbar .nav-links-container .nav-item .drop ul {
          min-width: none;
          margin: 0; }
        .navbar .nav-links-container .nav-item .drop .drop-items {
          position: relative; }
          @media (min-width: 769px) {
            .navbar .nav-links-container .nav-item .drop .drop-items {
              -webkit-transform: translate(0, -100%);
              -moz-transform: translate(0, -100%);
              -ms-transform: translate(0, -100%);
              transform: translate(0, -100%);
              -webkit-transition: all 0.5s 0.1s;
              -moz-transition: all 0.5s 0.1s;
              -ms-transition: all 0.5s 0.1s;
              transition: all 0.5s 0.1s; } }
          .navbar .nav-links-container .nav-item .drop .drop-items a,
          .navbar .nav-links-container .nav-item .drop .drop-items span {
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            color: #655c56;
            padding-left: 1em; }
        .navbar .nav-links-container .nav-item .drop li {
          display: block;
          position: relative;
          padding: 0;
          width: 100%;
          background: #effcef;
          color: #655c56; }

.transparent {
  background-color: transparent; }
  .transparent .nav-item a,
  .transparent span {
    color: #effcef; }

.vanilla {
  background-color: #effcef; }
  .vanilla .nav-item a,
  .vanilla span {
    color: #655c56; }

@media (min-width: 769px) {
  .nav-links-container li:nth-child(1):hover .drop .drop-items {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .nav-links-container li:nth-child(2):hover .drop .drop-items {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .nav-links-container li:nth-child(3):hover .drop .drop-items {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .nav-links-container li:nth-child(4):hover .drop .drop-items {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

/* MOBILE MENU & ANIMATION */
.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none; }
  .menu-toggle:hover {
    cursor: pointer; }
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .menu-toggle .white {
    background-color: #effcef; }
  .menu-toggle .dark-grey {
    background-color: #655c56; }

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0; }

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 768px) {
  /* MOBILE NAVIGATION */
  .navbar .nav-links-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 65px;
    background-color: #655c56;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden; }
    .navbar .nav-links-container .nav-item span {
      cursor: pointer; }
    .navbar .nav-links-container .nav-item .drop {
      display: none;
      position: relative;
      text-align: center;
      width: 100%;
      top: 0;
      padding: 0;
      margin: 0; }
      .navbar .nav-links-container .nav-item .drop li:first-child {
        margin-top: 0; }
      .navbar .nav-links-container .nav-item .drop .drop-items a {
        padding: 0; }
    .navbar .nav-links-container .drop-active {
      border-radius: 0; }
      .navbar .nav-links-container .drop-active .drop {
        display: inline; }
  .navbar li {
    padding: 15px; }
    .navbar li:first-child {
      margin-top: 50px; }
    .navbar li a {
      color: #effcef;
      font-size: 1rem; }
  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer; }
  .mobile-nav {
    transform: translate(0%) !important; } }
