@import "../abstracts/global";
@import "../base/global";

%header {
  display: inline-block !important;
  padding: 10px 16px;
  font-size: $header-font-size;
  font-weight: bold;
}

%offset-header {
  @extend %header;
  margin: $header-neg-space 1em 0.5rem 1em;
}

.header-l {
  @extend %header;
  @include green-bg;
}

.header-d {
  @extend %header;
  @include dark-grey-bg;
}

.offset-header-l {
  @extend %offset-header;
  @include green-bg;
}

.offset-header-d {
  @extend %offset-header;
  @include dark-grey-bg;
}
