@import "../abstracts/global";
@import "../base/global";
@import "../vendors/include-media";

@mixin container($padding) {
  text-align: center;
  width: 100%;
  padding: $padding;
}

%info-container {
  @include container($smallPadding-v 0);

  .info-only {
    @include flex-center;
    padding: $top-spacing 15%;
  }

  .info-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: $top-spacing 15%;

    @include media("<=tablet") {
      display: flex;
      flex-flow: column;
    }

    img {
      width: 80%;
      margin: 0 auto;
      @include media("<=tablet") {
        margin: $top-spacing auto;
      }
    }
  }
}

.info-container-l {
  @extend %info-container;
  @include white-bg;
}

.info-container-d {
  @extend %info-container;
  @include dark-grey-bg;

  .info-img-container {
    img {
      @include media("<=tablet") {
        margin: 0 auto $top-spacing auto;
      }
    }
  }
}
