@import "../abstracts/global";
@import "../base/global";
@import "../vendors/include-media";
@import "../components/button";
@import "../components/header";
@import "../components/hero";
@import "../components/info-containers";

.hero-bg-giving {
  @include hero-bg-dark-gradient(url("../../media/giving/giving-hero.jpg"));
}

.three-cards {
  display: flex;
  flex-flow: column;
  padding: 0 37%;
  @include media("<=tablet") {
    padding: 0 15%;
  }
}

.dark-grey {
  color: $dark-grey;
}

$top-spacing: 3%;

.giving-box {
  padding: $top-spacing 0%;
  width: 100%;

  p {
    font-size: $content-size;
    display: block;
  }
}
