@import "../abstracts/global";
@import "../base/global";
@import "../vendors/include-media";
@import "../components/hero";
@import "../components/info-containers";

.hero-bg-home {
  @include hero-bg-dark-gradient(url("../../media/home/home-hero.png"));
}

.two-columns {
  @include container($smallPadding-v 15px $smallPadding-v/2);
  @include white-bg;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1vw;
  margin-left: auto;
  margin-right: auto;
  @include media("<=tablet") {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 0;
  }
}

.service {
  color: $white;
  max-width: 50vw;
  margin-left: 5%;
  @include media("<=tablet") {
    max-width: 100vw;
    margin-left: 1vw !important;
    margin-bottom: 5vh;
  }

  img {
    vertical-align: middle;
    border: 0;
    max-width: 40vw;
    @include media("<=tablet") {
      margin: 0;
      max-width: 90vw;
    }
  }

  .wrapper {
    background-color: $dark-grey;
    margin: -6em 1em 0 0;
    position: relative !important;
    display: block;
    font-weight: normal;
    font-size: $content-size;
    text-align: left;
    max-width: 40vw;
    @include media("<=tablet") {
      max-width: 90vw;
      min-width: 75vw;
    }
  }

  .content {
    padding: 1em 2.25em 2.325em 2.25em;
    font-size: $content-size;
    max-width: 550px;
    display: block;
    text-align: left;
    @include media("<=tablet") {
      max-width: 90vw;
      min-width: 75vw;
    }
  }
}

.two-button-hgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vw;
  margin-top: 1vh;
}

// img-card to the left of the image
.h-overlap-container-l {
  @include container($smallPadding-v/2 5%);
  @include white-bg;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  @include media("<=tablet") {
    @include flex-center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  @include media(">tablet", "<=desktop") {
    margin: 0;
  }

  img {
    max-width: 100%;
    position: relative;
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    @include media("<=tablet") {
      width: 70%;
      padding: 0;
      margin: 0 5%;
    }
  }

  .img-card {
    @include dark-grey-bg;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 11;
    z-index: 1;
    padding: 0 2.25em 2.325em 2.25em;
    @include media("<=tablet") {
      display: block;
      position: relative;
      background-color: transparent;
      color: $dark-grey;
      padding: 0;
    }
    @include media(">=tablet", "<=fellowship-container-cutoff") {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 3;
      grid-row-end: 11;
    }

    .content {
      font-size: $content-size;
      max-width: 550px;
      margin: 5% 5% 0;
      @include media("<=tablet") {
        position: relative;
        padding: 0;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .offset-header-l {
      @include media("<=tablet") {
        background-color: $dark-grey;
        position: relative;
        margin: 0;
      }
    }
  }

  .four-buttons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4vh;
    column-gap: 2vw;
    position: relative;
    @include media("<=tablet") {
      justify-content: center;
      margin: 0 5% 5% 5%;
    }
  }
}

// img-card to the right of the image
.h-overlap-container-r {
  @extend .h-overlap-container-l;
  padding: $smallPadding-v/2 5% $smallPadding-v;

  img {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 13;
    @include media("<=tablet") {
      margin: 5% 0;
    }
  }

  .img-card {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 11;

    .offset-header-d {
      @include media("<=tablet") {
        margin: 0 10%;
      }
    }
  }
}

.single-col-info-container-l {
  @extend .info-container-l;
  padding-top: 0;

  .info-only {
    * {
      margin: 1% 0;
      @include media("<=tablet") {
        margin: 2.5% 0;
      }
    }

    padding: 0;
    flex-flow: column;

    img {
      width: 45%;
      @include media("<=tablet") {
        width: 70%;
      }
    }
  }
}

// This class exists solely for even spacing between containers by accounting for the negative space + header padding
.container-header-neg {
  width: 100%;
  padding-top: -1 * $header-neg-space + 0.6em;
  background-color: $white;
}
