$green: #94d3ac;
$light-green: #ccedd2;
$white: #effcef;
$dark-grey: #655c56;
$grey: #f6f7f5;

// @mixin theme($color) {
//   .button1 {
//     border: 0.1em solid $white;
//     color: $white;
//   }
// }
