@import "./_colors";
@import "_include-media";
@import "./fontFormatting";
@import "./_general";
@import "./_hero";

.hero-bg-about {
  @include hero-bg-dark-gradient(url("../../media/about/logos-church.jpg"));
}

.text-container {
  text-align: center;
  background-color: $white;
  color: $dark-grey;
  padding-bottom: 5rem;
  padding-top: 5rem;

  h1 {
    letter-spacing: 5px;
    font-size: 40px;
    @include media("<=tablet") {
      font-size: 3rem;
    }
  }

  p {
    font-size: $content-size;
    @include media("<=tablet") {
      font-size: $phone-content-size;
    }
  }
}



.our-staff-container{
  background: $dark-grey;
  margin: 0 auto;
  padding: 0 3rem;
  text-align: center;


  .text-container {
    text-align: center;
    background-color: $dark-grey;
    color: $dark-grey;
    padding-bottom: 2rem;
    padding-top: 5rem;
  
    h1 {
      letter-spacing: 5px;
      font-size: 40px;
      @include media("<=tablet") {
        font-size: 3rem;
      }
    }
  
    p {
      font-size: $content-size;
      @include media("<=tablet") {
        font-size: $phone-content-size;
      }
    }
  }

  h1{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: $white;
    font-size: 30px;
    padding-top: 2rem;
    @include media("<=tablet") {
      font-size: 1.5rem;
    }
  }
  h2{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: $white;
    font-size: 20px;
    @include media("<=tablet") {
      font-size: 1rem;
    }
  }

  .image{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }

  p{
    font-size: $content-size;
    color: $white;
    padding-left: 25%;
    padding-right: 26%;
    line-height: 2.5rem;
    @include media("<=tablet") {
      font-size: $phone-content-size;
    }
  }
}