@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.hero {
  height: 100vh;
}

html {
  font-size: 10px;
}

#hero-heading {
  font-size: 7rem;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 50px;
  color: white;
}

.btn-hero {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: black;
  border: 4px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn-hero:hover, .btn-hero:active {
  background-color: #fff;
  color: #000;
}

.img-container {
  background-image: url("../../media/events-hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 300px;
}

@media only screen and (max-width: 920px) {
  .inner-container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 540px) {
  .inner-container {
    margin-top: 150px;
  }
  #hero-heading {
    font-size: 5em;
  }
  #img-heading {
    font-size: 1.4em;
  }
}

.event-container {
    font-family: "Ubuntu", sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .event-container h3.year {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
  }
  
  .event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
  }
  
  .event .event-left {
    background: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
  }
  
  .event .event-left .date {
    font-size: 56px;
  }
  
  .event .event-left .month {
    font-size: 16px;
    font-weight: normal;
  }
  
  .event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
  }

  .event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: black;
    text-transform: uppercase;
  }
  
  .event .event-right .event-timing {
    background: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
  }
  
  .event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
  }
  
  @media (max-width: 550px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
  }