@import "./abstracts/global";
@import "./base/global";
@import "./vendors/include-media";

.contact-container {
  background-color: $dark-grey;
  color: $white;
  padding: 5% 15%;
  text-align: center;
  @include media("<=tablet") {
    padding: 5vh 15vw 10vh 15vw;
  }

  .info {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10%;
    margin-top: 1%;
    @include media("<=tablet") {
      row-gap: 1%;
    }
  }

  a {
    font-size: 16px;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $green;
    }
  }

  hr {
    margin: 2vh 25vw;
    border: 2px solid $white;
  }
}
