@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "_include-media";
@import "./_colors";
@import "./_general";
@import "_hero";

.hero-bg-giving {
  @include hero-bg-dark-gradient(url("../../media/giving/giving-hero.jpg"));
}

.three-cards {
  display: flex;
  flex-flow: column;
  padding: 0 15%;
}

.dark-grey {
  color: $dark-grey;
}

$top-spacing: 3%;

.giving-box {
  padding: $top-spacing 30%;
  width: 100%;

  p {
    font-size: $content-size;
    display: block;
  }
}
