/* BASIC SETUP */
@import "./_colors";
@import "./_general";

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  .transparent {
    background-color: transparent;

    .nav-item a {
      color: $white;
    }
  }

  .vanilla {
    background-color: $white;

    .nav-item a {
      color: $dark-grey;
    }
  }

  /* NAVIGATION */

  .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 10vh;
    min-height: 96px;
    overflow: hidden;

    // logo
    a {
      height: 65%;
      width: auto;
      justify-self: start;
      margin-left: 7vw;

      img {
        height: 100%;
      }
    }

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      min-width: 50vw;
      grid-gap: 1.5vw;
      justify-self: end;
      margin-right: 5vw;
    }
  }

  .nav-item {
    display: flex;
    justify-content: center;

    a {
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.3s ease-out;
      opacity: 95%;

      /** Underline Animation */
      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px $green;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }
  }
}

/* MOBILE MENU & ANIMATION */

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;

  &:hover {
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .white {
    background-color: $white;
  }

  .dark-grey {
    background-color: $dark-grey;
  }
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: map-get($breakpoints, "tablet")) {
  /* MOBILE NAVIGATION */

  .nav-wrapper .navbar {
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 65px;
      background-color: $dark-grey;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }

    li {
      padding: 15px;

      &:first-child {
        margin-top: 50px;
      }

      a {
        color: $white;
        font-size: 1rem;
      }
    }
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}
